Source: pps-tools
Section: devel
Priority: extra
Maintainer: Alexander Gordeev <lasaine@lvk.cs.msu.su>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0
Homepage: http://wiki.enneenne.com/index.php/LinuxPPS_support

Package: pps-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LinuxPPS support tools and headers
 This package includes the necessary headers for using LinuxPPS PPSAPI
 kernel interface in user-space applications and several support tools:
  * ppsfind: find pps device by name
  * ppstest: test PPSAPI interface
  * ppsldisc: setup correct RS232 line discipline
  * ppswatch: continuously print PPS timestamps
  * ppsctl: manage PPS device
